    /* food menu */
    
    
    .background {
        background-color: #FFF8DC;
    }
    
    .background_img {
        background-image: url("secbc.png");
    }

    .top_of_menu {
        color: black;
        font-size: 32px;
        font-family: 'Space Mono', monospace;
        text-align: justify;
        margin: 10px;
        display: grid;
        grid-row: auto;
    }

    .game_names {
        display: flex;
        white-space: nowrap;
        text-align: center;
        margin: 10px;
        font-size: 16px;
        font-weight: 200;
    }


    .blocksALL {
        color: black;
        font-family: 'Space Mono', monospace;
        font-size: 32px;
        font-weight: 200;
        text-align: justify;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    
    }

    .bottom_of_menu {
        color: black;
        font-family: 'Space Mono', monospace;
        text-align: end;
        padding: 10px;
        display: flex;
        flex-direction: row;
        margin-inline: 10px;
    }

    .smallerImage {
        width: 300px;     
        height: 250px;
        object-fit: cover;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .fullCard {
        width: 500px;
        height: 470px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px 5px;
        font-family: 'Space Mono', monospace;
        
        text-align: justify;
    }
   
    .fullCard2 {
        width: 500px;
        height: 300px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px 5px;
        font-family: 'Space Mono', monospace;
        
        text-align: justify;
    }
